@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.team:nth-child(2),
.team:nth-child(6),
.team:nth-child(10),
.team:nth-child(14),
.team:nth-child(18),
.team:nth-child(22) {
  transition-delay: 100ms;
}
.team:nth-child(3),
.team:nth-child(7),
.team:nth-child(11),
.team:nth-child(15),
.team:nth-child(19),
.team:nth-child(23) {
  transition-delay: 200ms;
}
.team:nth-child(4),
.team:nth-child(8),
.team:nth-child(12),
.team:nth-child(16),
.team:nth-child(20),
.team:nth-child(24) {
  transition-delay: 300ms;
}

.container {
  padding: 56px 0;
  margin-left: 15%;
}
.row {
  max-width: 1300px;
  width: 100%;
  padding: 0 24px;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
  font-weight: 400;
  font-size: 26px;
}
section {
}
.underline {
  text-decoration: underline;
}
.no-scroll {
  overflow: hidden;
}

.yellow {
  color: rgba(235, 235, 85, 0.911);
}
hr {
  margin: 6px 0;
}
.no {
  cursor: no-drop;
}
.discontinued {
  background-color: pink;
  padding: 6px 3px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  transform: rotate(-5deg);
}
.btn {
  border: 2px solid black;
  background-color: white;
  font-size: 18px;
  padding: 12px 6px;
  margin-right: 16px;
  transition: all 300ms ease;
  text-align: center;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.918);
  color: white;
}

/*
ASIDE NAV
*/
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  font-size: 20px;
  z-index: 50;
}
.menu {
  display: none;
}

.logo__figure {
  width: 10%;
  left: 2.5%;
  top: 2.5%;
  position: absolute;
  z-index: 2;
}
.logo__img {
  width: 100%;
}

.nav__link--anchor {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: all 300ms ease;
}

.nav__link--anchor:hover {
  opacity: 0.5;
}
.nav__link {
  list-style: none;
}

.footer {
  position: absolute;
  bottom: 2%;
}
.footer__media {
  display: flex;
  align-items: center;
  justify-content: start;
}
.icon {
  padding-right: 24px;
}
.icon__hover {
  transition: all 300ms ease;
}
.icon__hover:hover {
  opacity: 0.6;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 18px;
}

.menu__btn {
  position: fixed;
  cursor: pointer;
  right: 5%;
  bottom: 5%;
  padding: 14px 25px;
  border: none;
  background-color: yellow;
  border-radius: 50%;
  font-size: 36px;
  color: black;
  z-index: 16;
  display: none;
  -webkit-tap-highlight-color: transparent;
}

/*
HERO
*/
#hero {
  background-image: url(./assets/pohjala-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 85%;
  margin-left: 15%;
}
.hero__text {
  max-width: 400px;
  width: 30%;
  position: absolute;
  top: 15%;
  right: 25%;
  color: white;
  line-height: 1.5;
}

/*
BEERS
*/
.beer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 125px 0;
}

.beer__figure {
  height: 100%;
  width: 140px;
}
.beer__img {
  height: 100%;
  width: 100%;
}
.beer__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10%;
  width: 50%;
  line-height: 1.5;
}

.beer__info h2 {
  font-size: 32px;
  font-weight: 500;
}
.beer__info h3 {
  font-size: 28px;
  font-weight: 500;
}
.beer__info p {
  margin: 12px 0 0 0;
  font-size: 22px;
  font-weight: 400;
}

summary {
  cursor: pointer;
  list-style-type: none;
  margin-top: 24px;
  font-size: 18px;
  transition: all 300ms ease;
}
summary:hover {
  opacity: 0.5;
}
details[open] summary {
  display: none;
}
.beer__abv {
  opacity: 0.5;
}
.beer__tagline {
  margin-bottom: 12px;
}

/*
SPECIALS
*/
#specials {
  height: 100vh;
  background-image: url(./assets/specials.jpg);
  background-size: cover;
  width: 50%;
}
.specials__logo {
  width: 10%;
  position: absolute;
  top: 5%;
  left: 2.5%;
}
.specials__logo--img {
  width: 100%;
  transform: skewX(26deg);
  transform: rotate(-20deg);
}

.specials__text {
  max-width: 400px;
  width: 30%;
  position: absolute;
  right: 15%;
  top: 20%;
}
.specials__text h1 {
  font-weight: 400;
  font-size: 22px;
}

/*
CELLAR
*/
#cellar {
  background-image: url(./assets/cellar-series.jpg);
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.cellar__text {
  position: absolute;
  right: 15%;
  top: 20%;
  max-width: 400px;
  width: 30%;
}
.cellar__text h1 {
  font-weight: 400;
}
/*
FOREST
*/
#forest {
  background-image: url(./assets/forest-series.jpg);
  background-size: cover;
  width: 50%;
  height: 100vh;
}
.forest__text {
  max-width: 400px;
  width: 30%;
  position: absolute;
  right: 15%;
  top: 20%;
}
.forest__text h1 {
  font-weight: 400;
}
/*
TAPROOM
*/
.sub__nav {
  position: fixed;
  text-align: center;
  top: 48px;
  left: 90%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.sub__nav .btn {
  padding: 6px 18px;
  margin: 32px 0;
  transform: rotate(-15deg);
}
.sub__nav .btn:nth-child(2),
.sub__nav .btn:nth-child(4) {
  transform: rotate(15deg);
}

.taproom__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taproom__header {
  width: 70%;
}
.taproom__header h1 {
  font-size: 42px;
}
.taproom__info {
  margin-top: 42px;
  width: 70%;
}
dt {
  opacity: 0.6;
  font-size: 24px;
}
dd {
  margin: 6px;
  font-size: 18px;
}
.taproom__booking dd {
}

.tap__wrapper {
  display: flex;
}

.tap__img--figure {
  width: 50%;
  margin-right: 42px;
}
.tap__img {
  width: 100%;
}
.tap__info {
  width: 35%;
}
.tap__info--header {
  font-size: 36px;
}
.tap__info--para {
  margin-top: 24px;
  font-size: 18px;
}
.tap__links {
  display: flex;
  margin-top: 12px;
}
/*TOURS*/
.tours__wrapper {
  display: flex;
  align-items: end;
}
.tours__img--figure {
  width: 45%;
}
.tours__img {
  width: 100%;
}
.tours__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
}
.tours__info--para {
  margin-top: 24px;
  font-size: 18px;
  margin-bottom: 24px;
}
/*shop*/
.show__wrapper {
  display: flex;
  align-items: center;
}
.shop__img--figure {
  width: 30%;
  margin-right: 42px;
}
.shop__img {
  width: 100%;
}
.shop__info {
  width: 40%;
}
/* sauna*/
#sauna {
}
.sauna__wrapper {
  display: flex;
  justify-content: end;
}
.sauna__img--figure {
  width: 80%;
  position: relative;
}
.sauna__img {
  width: 100%;
}
.sauna__info {
  position: absolute;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.774);
  padding: 40px 60px;
  top: 10%;
  left: -10%;
}

/*
BREWERY
*/
.sub__nav--brewery {
  left: 85%;
  width: 10%;
}
.sub__nav--brewery .btn {
  margin: 52px 0;
  width: 100%;
}

.brewery__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brewery__text {
  width: 50%;
}
.section__header {
  font-size: 40px;
  margin-bottom: 5%;
  text-align: center;
}
.section__para {
  font-size: 18px;
  line-height: 1.6;
}

/*IMG*/

.image__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.image__figure {
  width: 50%;
}
.image {
  width: 100%;
  padding: 3px;
}
.image__text {
  width: 50%;
}
.image__text {
  margin: 50px 0;
}
.image__row--wrapper {
  display: flex;
}

.image__row--figure {
  width: calc(100% / 6);
  margin: 0 3px;
}
.image__row {
  width: 100%;
}
.image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*markets*/
#markets {
  padding: 50px 0;
}
.markets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}
.list__wrapper {
  display: flex;
}
.markets__list {
  padding: 12px 48px;
  line-height: 2;
}
/*team*/

.team__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team {
  width: 22%;
  padding: 25px;
  text-align: center;
}
.team__img--figure {
  width: 100%;
}
.team__img {
  width: 100%;
  border-radius: 50%;
}
.team__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}
.team__job {
  opacity: 0.6;
}
/*touch*/
.touch__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

dl {
}

#ambassador {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
iframe {
  width: 75%;
  height: 100%;
  display: flex;
}

@media (max-width: 992px) {
  .beer__info h2 {
    font-size: 28px;
  }
  .beer__info h3 {
    font-size: 24px;
  }
  .beer__info p {
    font-size: 20px;
  }
  .taproom__header h1 {
    font-size: 38px;
  }
  .section__header {
    font-size: 38px;
  }
  .section__para {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  aside {
    display: none;
  }
  .menu__btn {
    display: block;
  }
  .open__menu {
    display: block;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.795);
    width: 100%;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10%;
    height: 100%;
    animation: slide-in 300ms ease;
  }
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  #hero {
    margin: 0;
    width: 100%;
  }
  .hero__text {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero__text h1 {
    font-size: 28px;
  }
  .logo__figure {
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .container {
    margin-left: 0;
  }
  .beer__info h2 {
    font-size: 24px;
  }
  .beer__info h3 {
    font-size: 20px;
  }
  .beer__info p {
    font-size: 18px;
  }
  #specials {
    width: 100%;
  }
  .specials__logo {
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
  }
  .specials__logo--img {
    transform: none;
  }
  .specials__text {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .specials__text h1 {
    font-size: 28px;
  }
  #cellar {
    width: 100%;
  }
  .cellar__text {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  #forest {
    width: 100%;
  }
  .forest__text {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .forest__text h1 {
    font-size: 28px;
  }

  .sub__nav {
    left: 85%;
  }

  .taproom__header h1 {
    font-size: 28px;
  }
  dt {
    font-size: 20px;
  }
  dd {
    font-size: 16px;
  }
  .taproom__info {
    align-items: center;
    justify-content: center;
  }
  .opening__booking--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .taproom__wrapper {
    align-items: start;
    margin-top: 24px;
  }
  .tap__wrapper {
    flex-direction: column-reverse;
  }
  .tap__info {
    width: 85%;
  }
  .tap__img--figure {
    width: 85%;
    margin-top: 24px;
  }
  .tours__wrapper {
    flex-direction: column;
    align-items: start;
  }
  .tours__info {
    width: 85%;
  }
  .tours__info--para {
    font-size: 14px;
  }
  .tours__img--figure {
    width: 85%;
    margin-top: 24px;
  }

  .shop__info {
    width: 50%;
  }
  .sauna__wrapper {
    display: flex;
    justify-content: start;
  }
  .sauna__img--figure {
    width: 95%;
  }
  .sauna__info {
    max-width: 400px;
    padding: 20px 40px;
    left: 5%;
    top: 25%;
  }
  .tap__info--header {
    font-size: 28px;
  }
  .tap__info--para {
    font-size: 14px;
  }
  .sub__nav--brewery {
    left: 84%;
    width: 15%;
  }
  .brewery__text {
    margin-top: 24px;
  }
  .section__header {
    font-size: 28px;
  }
  .image__row--wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .image__row--figure {
    width: calc(100% / 3);
    margin: 0;
    padding: 2px;
  }
  .list__wrapper {
    padding: 0;
    flex-wrap: wrap;
  }
  .markets__list {
    padding: 12px 0;
    width: calc(100% / 3);
  }
  .ambassador__logo--figure {
    display: none;
  }
  iframe {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .logo__figure {
    width: 40%;
  }
  .beer__figure {
    width: 120px;
    height: 400px;
  }
  .beer__info h2 {
    font-size: 18px;
  }
  .beer__info h3 {
    font-size: 16px;
  }
  .beer__info p {
    font-size: 12px;
  }
  .specials__logo {
    width: 40%;
  }
  .hero__text {
    text-align: center;
  }
  .cellar__text {
    text-align: center;
  }
  .specials__text {
    text-align: center;
  }
  .forest__text {
    text-align: center;
  }

  .sub__nav {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .sub__nav .btn {
    width: 50%;
    transform: rotate(-5deg);
    margin: 18px 0;
  }
  .sub__nav .btn:nth-child(2),
  .sub__nav .btn:nth-child(4) {
    transform: rotate(5deg);
  }
  .taproom__wrapper {
    justify-content: center;
    align-items: center;
  }
  .taproom__header {
    width: 100%;
  }
  .taproom__header h1 {
    font-size: 24px;
    text-align: center;
  }
  .taproom__info {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .taproom__location {
    text-align: center;
  }
  .opening__booking--wrapper {
    flex-direction: column;
    text-align: center;
  }
  .tap__info {
    width: 100%;
    text-align: center;
  }
  .tap__info--header {
    text-align: center;
  }
  .tap__wrapper {
    justify-content: center;
    align-items: center;
  }
  .tap__links {
    justify-content: center;
  }
  .tap__img--figure {
    width: 100%;
    margin-right: 0;
  }
  .tours__info {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .tours__info--para {
    text-align: center;
  }
  .tours__img--figure {
    width: 100%;
  }
  .show__wrapper {
    flex-direction: column-reverse;
  }
  .shop__info {
    width: 100%;
    text-align: center;
  }
  .shop__img--figure {
    margin-right: 0;
    margin-top: 24px;
    width: 45%;
  }

  .sauna__img--figure {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .sauna__info {
    position: relative;
    max-width: none;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.425);
    padding: 0;
    margin-bottom: 24px;
    text-align: center;
  }
  .brewery__text {
    width: 100%;
    text-align: center;
  }
  .image__text {
    width: 100%;
    text-align: center;
  }
  .team__wrapper {
    align-items: baseline;
  }
  .team {
    width: 50%;
  }
}
